# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - cloudsoft

on:
  push:
    branches:
      - infra-ci/cd
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push container image
      uses: docker/build-push-action@v3
      with:
        context: ./back
        file: ./back/Dockerfile
        push: true
        tags: username/cloudsoft:${{ github.sha }}

        

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'cloudsoft'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_2b6d7369e3524268994d2a2b913ee8b0 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_143b59bf0750450d8ae8d6096cec398c }}/oscarjct0/cloudsoft:${{ github.sha }}'